#chartbox {
    position:absolute;
    z-index:1;
    top:17%;
    right:.5%;

    width:260px;
    height:200px;
    padding:5px;

    opacity:0.85;
    background-color: rgba(255, 255, 255, 0.5);
    font-color:#000;
}

.boxtitle {
    text-align: center;

    color:#be2126;

    font-family: 'Roboto';
    font-size: 100%;
}


#chart {
        position: absolute;
        z-index:3;
        top:15%;
        right: 2%
        height: 140px;
        margin: 0 auto;                                               /* NEW */
        width: 200px;
      }
      .tooltip {
        background: #eee;
        box-shadow: 0 0 5px #999999;
        color: #fff;
        display: none;
        font-size: 12px;
        left: 5%;
        padding: 10px;
        position: absolute;
        text-align: left;
        top: 10%;
        width: 80px;
        z-index: 10;
      }
      .legend {
        font-size: 12px;
        background-color: #fff;
      }
      rect {
        cursor: pointer;                                              /* NEW */
        stroke-width: 2;
      }
      rect.disabled {                                                 /* NEW */
        fill: transparent !important;                                 /* NEW */
      }                                                               /* NEW */
      h1 {                                                            /* NEW */
        font-size: 14px;
        color: #fff;                                              /* NEW */
        text-align: center;                                           /* NEW */
      }                                                               /* NEW */   
