#chart {
        
        position:absolute;
        z-index:1;
        top:17%;
        right:.5%;
        height:560px;
        width: 560px;
        margin: 20px 30px;
      }

      .arc text {
        font: 10px sans-serif;
        text-anchor: middle;
    }

.arc path {
  stroke: #fff;
}